In [1]:
import sys
sys.path.append('../')

from lib import libdata
import pandas as pd

In [2]:
# Input file
raw_data_file = 'MStoCIRC/result.mstocirc.ath/circ_draw.txt'

# Output files
circrnas_file = libdata.CIRCODAN_PATH + 'datasets/07_MStoCIRC_ath.fa'
gtf_file = libdata.CIRCODAN_PATH + 'datasets/07_MStoCIRC_ath.gtf'

In [3]:
cols = ['circRNAname', 'circRNA_length', 'CORF_start', 'CORF_end', 'IRES_start', 'IRES_end', 'exon_position', 'informa', 'nt_sequence', 'aa_sequence']
df_data = pd.read_csv(raw_data_file, header=None, names=cols, comment='#')
df_data

,circRNAname,circRNA_length,CORF_start,CORF_end,IRES_start,IRES_end,exon_position,informa,nt_sequence,aa_sequence
0,ath_circ_008678,556,76,580,1,50,0-556,NaN,TTTTCAAGAGAAAATTTGATTAGCCCAGTTTTACCTCAAGTCAAAA...,LPIHPVFK-MVETTLKRGLDFYSTIQAHDGHWPGDYGGPMFLLPGL...
1,ath_circ_012868,308,149,407,51,100,0-308,NaN,GAACCCTGAGGATATCCCATGGGCCGAGGCTGGAGCTGACTACGTT...,FGIVEGLMTTVHSITGTLR-MFVVGVNEHEYKSDLDIVSNASCTTN...
2,ath_circ_013559,229,70,235,51,100,0-229,NaN,GGTAAGAAGAGGAAGGACACTGTCTGCATTGCTCTTGCTGATGAGA...,VHILPVDDTVEGVTGNLFDAYLKR-MNKVVRSNLRVRLGDVISVHQ...
3,ath_circ_029430,661,160,793,1,50,0-661,NaN,TCATCTCTCAATGGTTCAGCTTCGAATTTACCAGATGGTTCGGGCA...,LNLAANSGSGLNVQGQNRMMGGVLPQVISQWFSFEFTR-MQGTLTS...
4,ath_circ_000429,865,44,908,101,150,0-865,NaN,ATCGGACCTGCTGATCCTGAAGACAATCAAACAATCTGTTGAGATG...,TAVLALGFVLYSDPEQIGPA-MRNSVCHSATIYANAIMHAGTTVDT...
...,...,...,...,...,...,...,...,...,...,...
615,ath_circ_009326,234,28,703,0,0,0-234,NaN,CGTGCAAAACTGCAAACCGCAACACAAATGACTCCTGCACTATTTA...,ETEQKRAKLQTATQMTPALFMEWK-MTPALFMEWKRKKIAERDAGL...
616,ath_circ_012515,204,28,613,0,0,0-204,NaN,AACGCTGCGTACCTAATCATCCGAGGCATGAAGACATTGCATCTTC...,HELAKRQMTGFGGVVSFENAAYLIIR-MKTLHLRVQQQNSTAFRMA...
617,ath_circ_018851,141,58,424,0,0,0-141,NaN,ATTTCAAGTGAGGAAGCTATAGAAACCGCAAAGCAACTAGCTCTTA...,AAIKVAKRPENAGKLIAISSEEAIETAK-MVGISSGAAAAAAIKVA...
618,ath_circ_022409,129,7,388,0,0,0-129,NaN,GTCCTGATGGTTGTGGGGGCAGGAAGGGGACCCCTTGTGAGGGCAT...,AVEKNPNAVVTLHVLMVVGAGR-MVVGAGRGPLVRASLQAAEETDR...
619,ath_circ_012219,75,13,226,0,0,0-75,NaN,GTTGGGGAGACGATGGCTTATCCAAACCGAAAACAACCAGATGACA...,DDSKTLSELPFEVGETMAYPNRK-MAYPNRKQPDDSKTLSELPFEV...

In [4]:
libdata.create_fasta_file_MStoCIRC(df_data['circRNAname'], df_data['nt_sequence'], circrnas_file)
libdata.count_sequences_in_file(circrnas_file)

620

In [5]:
# Removing repeat sequences
n_unique_seqs = libdata.remove_repeated_sequences_in_file(circrnas_file)
n_unique_seqs

609

In [6]:
# Getting cORF end and translation_cycles
orf_end_positions = []
for _,row in df_data.iterrows():
    orf_end_positions.append(libdata.get_corf_end_position_zi(row['CORF_start']-1, row['nt_sequence']) + 1)
df_data['CORF_end_corrected'] = orf_end_positions

df_data['translation_cycles'] = df_data['CORF_end'] // df_data['circRNA_length']

df_data

,circRNAname,circRNA_length,CORF_start,CORF_end,IRES_start,IRES_end,exon_position,informa,nt_sequence,aa_sequence,CORF_end_corrected,translation_cycles
0,ath_circ_008678,556,76,580,1,50,0-556,NaN,TTTTCAAGAGAAAATTTGATTAGCCCAGTTTTACCTCAAGTCAAAA...,LPIHPVFK-MVETTLKRGLDFYSTIQAHDGHWPGDYGGPMFLLPGL...,23,1
1,ath_circ_012868,308,149,407,51,100,0-308,NaN,GAACCCTGAGGATATCCCATGGGCCGAGGCTGGAGCTGACTACGTT...,FGIVEGLMTTVHSITGTLR-MFVVGVNEHEYKSDLDIVSNASCTTN...,98,1
2,ath_circ_013559,229,70,235,51,100,0-229,NaN,GGTAAGAAGAGGAAGGACACTGTCTGCATTGCTCTTGCTGATGAGA...,VHILPVDDTVEGVTGNLFDAYLKR-MNKVVRSNLRVRLGDVISVHQ...,5,1
3,ath_circ_029430,661,160,793,1,50,0-661,NaN,TCATCTCTCAATGGTTCAGCTTCGAATTTACCAGATGGTTCGGGCA...,LNLAANSGSGLNVQGQNRMMGGVLPQVISQWFSFEFTR-MQGTLTS...,131,1
4,ath_circ_000429,865,44,908,101,150,0-865,NaN,ATCGGACCTGCTGATCCTGAAGACAATCAAACAATCTGTTGAGATG...,TAVLALGFVLYSDPEQIGPA-MRNSVCHSATIYANAIMHAGTTVDT...,42,1
...,...,...,...,...,...,...,...,...,...,...,...,...
615,ath_circ_009326,234,28,703,0,0,0-234,NaN,CGTGCAAAACTGCAAACCGCAACACAAATGACTCCTGCACTATTTA...,ETEQKRAKLQTATQMTPALFMEWK-MTPALFMEWKRKKIAERDAGL...,27,3
616,ath_circ_012515,204,28,613,0,0,0-204,NaN,AACGCTGCGTACCTAATCATCCGAGGCATGAAGACATTGCATCTTC...,HELAKRQMTGFGGVVSFENAAYLIIR-MKTLHLRVQQQNSTAFRMA...,27,3
617,ath_circ_018851,141,58,424,0,0,0-141,NaN,ATTTCAAGTGAGGAAGCTATAGAAACCGCAAAGCAACTAGCTCTTA...,AAIKVAKRPENAGKLIAISSEEAIETAK-MVGISSGAAAAAAIKVA...,57,3
618,ath_circ_022409,129,7,388,0,0,0-129,NaN,GTCCTGATGGTTGTGGGGGCAGGAAGGGGACCCCTTGTGAGGGCAT...,AVEKNPNAVVTLHVLMVVGAGR-MVVGAGRGPLVRASLQAAEETDR...,6,3
619,ath_circ_012219,75,13,226,0,0,0-75,NaN,GTTGGGGAGACGATGGCTTATCCAAACCGAAAACAACCAGATGACA...,DDSKTLSELPFEVGETMAYPNRK-MAYPNRKQPDDSKTLSELPFEV...,12,3

In [7]:
# Checking start codon
df_data['start_codon'] = df_data.apply(lambda row: row['nt_sequence'][row['CORF_start']-1:row['CORF_start']+2], axis=1)
df_data['start_codon_correct'] = df_data['start_codon'].apply(lambda sequence: sequence[-3:] in ['ATG'])
df_data[~df_data['start_codon_correct']]

,circRNAname,circRNA_length,CORF_start,CORF_end,IRES_start,IRES_end,exon_position,informa,nt_sequence,aa_sequence,CORF_end_corrected,translation_cycles,start_codon,start_codon_correct
65,ath_circ_027962,83,83,227,34,83,0-83,NaN,TGTGTTTGGATGGTAGCGCGCCAGCATACCATTTCGATAAGGGATC...,MCLDGSAPAYHFDK-MCLDGSAPAYHFDKGSGSGVNNWIVHMECVW...,60,2,A,False

In [8]:
libdata.create_gtf_file_MStoCIRC(df_data, gtf_file)